{
  "extends": [ "wesbos/typescript" ],
  "parserOptions": {
    "project": "tsconfig.eslint.json",
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "class-methods-use-this": "off",
    "strict": "off",
    "global-require": "off",
    "prefer-destructuring": "off",
    "no-var-requires": "off",
    "no-use-before-define": "off",
    "no-async-promise-executor": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "import/no-dynamic-require": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-use-before-define": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}